.MainPage {
}
.MainPage .bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.MainPage .Span {
  cursor: pointer;
}
.Login {
  width: 100vw;
  height: 100vh;
  background-color: #f5fef1;
}

.Login .bar {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Login .bar .icon {
}

.box {
  display: flex;
  justify-content: center;

  /* justify-content가 가로정렬 align-items이 세로정렬   */
}
.box .wrapper {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-top: 30px;
  border-radius: 15px;
  background-color: white;
  border: 1px solid #efefef;
  width: 600px;
  height: 600px;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.box .wrapper h3 {
  font-weight: medium;
  font-size: 13px;
}

.box .wrapper input {
  width: 400px;
  border: none;
  height: 28px;
  border-bottom: 2px solid gray;
}

.box .wrapper .find {
  padding: 20px;
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.box .wrapper button {
  width: 500px;
  height: 40px;
  color: white;
  background-color: #353;
}

.Card .wrapper {
  border: 1px solid red;
  width: 300px;
  height: 300px;
}

/* .Card .wrapper .img { */
/* object-fit: cover;
} */
